[local]
root_ip = YOUR_LOCAL_IP

[NatureRemo]
token = YOUR_ACCESS_TOKEN

[TPLink]
user_name = YOUR_SMART_PLUG_USER_NAME
password = YOUR_SMART_PLUG_PASSWORD
device_ip = YOUR_SMART_PLUG_DEVICE_IPS

# root_ip: ルートIPアドレスを指定します
# device_ip: デバイスIPの末尾二桁の数字をカンマ区切りで指定します
# 例: device_ip = 01,02,03
